body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 0%;
  background: #112c38;
}
ul{
  margin: 0;
  padding: 0;
  background: #c7b0b0;
  display: flex;
}
ul li{
  list-style: none;;
  margin: 0 50px;
  transition: 0.5s;
}
ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.9s;
}
ul:hover li a{
  transform: scale(1.5);
  opacity: .2;
  text-decoration:none;
  filter: blur(5px);
}
ul li a:hover{
  transform: scale(1.4);
  opacity: 1;
  text-decoration:none;
  color: #000;
  transition: 0.9s;
  filter: blur(0);
}
ul li a:before{
  content: '';
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-decoration:none;
  height: 100%;
  background: #F0FFF0;
  transition: transform 0.9s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}
ul li a:hover:before{
  transition: transform 0.5s;
  transform-origin: left;
  text-decoration:none;
  transform: scaleX(1);
}

/*https://www.youtube.com/watch?v=TcPYVqHAHNQ&list=WL&index=31
*/
