

.card-signin .card-title {
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-size: 30px;
}

.card-signin .card-body {
  padding: 2rem;
  position: relative;
}

.form-signin {
  width: 100%;
  position: relative;
}

.form-signin .btn {
  font-size: 50%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}
